
.about-page-section .about {
    margin-top: 2em;
    margin-bottom: 2em;
    grid-template-areas:
        'dp'
        'hello'
        'tagline'
        'intro'
        'social';
}

.about-page-section p {
    text-align: left;
}

.intro-p {
    margin-bottom: 3em;
}

.about-page-section .display-pic img {
    max-width: 10em;
}