.affiliations-container {
    width: 100%;
    margin: 0;
    padding: 0.5em;
    background-color: var(--bg-color-3);
    color: var(--text-color-3)
}

.affiliations {
    clear: both;
    height: auto;
    max-width: 1000px;
    margin: auto;
    margin-top: 1em;
    padding-right: 10px;
    padding-left: 10px;
}

.affiliations a {
    color: var(--text-color-3);
    font-weight: 500;
    text-decoration: underline;
}

.partneships {
    margin: 1em auto 1em auto;
    vertical-align: top;
    align-self: start;
}

.parter-orgs {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2em auto 2em auto;
}

.partner-info {
    max-width: 18em;
    text-align: center;
}

.partner-logo {
    width: 200px;
}

.partner-logo:hover, .partner-logo:active, .partner-logo:focus {
    transform:scale(1.2);
}