//
// Import Bootstrap
//

@import "bootstrap/scss/bootstrap";


//
// Import Bootstrap Icons w/ custom path to fonts folder
//

// $bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";
@import "theme.scss";


body {
    min-width: 310px;
    color: var(--text-color);
}


/** Components **/
/** ========== **/

a, .clickable {
    text-decoration: none;
    color:var(--text-color-emph);
    opacity: 0.85;
}

a:hover, 
a:active
.clickable:hover,
.clickable:active {
    opacity: 1;
}

.button {
    background-color: var(--bg-color);
    vertical-align: middle;
    border-radius: 0.3em;
    padding: 0.6em;
    padding-top: 0.8em;
    margin-right: 0.4em;
    display: inline;
}

.button:hover, 
.button:focus {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

.header {
    max-width: 1000px;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    height: 4em;
    text-align: center;
}

.logo {
    width: 10em;
    float: unset;
    padding: 7px;
    position: relative;
    top: 0.2em;
    margin: auto;
}

.navbar {
    clear: both;
}

.navbar .nav-link {
    float: left;
    padding: 7px;
    height: 3em;
}

.navbar .nav-list {
    margin: auto;
    padding: 0;
}

.display-pic img {
    border-radius: 100%;
}

.footer {
    height: 5em;
    background-color: var(--bg-color-2);
    color: var(--text-color-2);
    padding: 1.3em;
    text-align: center;
    margin-top: 7em;
}

@media (prefers-color-scheme: dark) {

    body {
        color: #a8a8a8;
        background-color: #1e1e1e;
        letter-spacing: -0.03em;
    }

    .logo.adaptive {
        filter: invert(1);
    }

    a, .clickable {
        text-decoration: none;
        color:#b8b6b6;
        opacity: 0.85;
    }

    .button.adaptive {
        background-color: #2a2a2a;
    }
    
    .button.adaptive:hover, 
    .button.adaptive:focus {
        background-color: #222222;
        color: #b3b2b2;
    }

    .footer.adaptive {
        background-color: #151515;
        color: #fefefe;
    }
}

// page specific CSS
@import 'home-page.scss';