/**  Home-page/header section **/
/** ========================= **/

.header {
    max-width: 1000px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.logo-link {
    display: inline-block;
}

.logo {
    width: 10em;
    padding: 7px;
    position: relative;
    top: 0.2em;
    margin: auto;
}

.navbar {
    clear: both;
}

.navbar .nav-link {
    float: left;
    padding: 7px;
    height: 3em;
}

.navbar .nav-list {
    margin: auto;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    .logo.adaptive {
        filter: invert(1);
    }
}

/** For large screens **/
@media only screen and (min-width: 700px) {
    .header {
        text-align: left;
    }
}

// For displays having width less that 325px (like Samsung fold)
@media only screen and (max-width: 325px) {

    .navbar .nav-link {
        padding: 5px;
    }
}