
:root {
    /** Light theme **/

    // body
    --bg-color: #fefefe;
    --text-color: #121212;
    --text-color-emph: #252525;
    
    // secondary
    --bg-color-2: #252525;
    --text-color-2: #e2e4e5;

    // third
    --bg-color-3: #424141;
    --text-color-3: #cecece;

    // decor
    --outline-color: #bebebe;

    // components
    --button-bg-color: #e2e4e5;
    --button-text-color: #121212;
    --button-bg-color-focus: #252525;
    --button-text-color-focus: #e2e4e5;

}