
:root {
    /** Light theme **/
    // body
    --bg-color: #e2e4e5;
    --text-color: #121212;
    --text-color-emph: #252525;
    
    // secondary
    --bg-color-2: #252525;
    --text-color-2: #e2e4e5;

    // components
    --button-bg-color: #252525;
    --button-text-color: #e2e4e5;

}