//
// Import Bootstrap
//

@import "bootstrap/scss/bootstrap";


//
// Import Bootstrap Icons w/ custom path to fonts folder
//

// $bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";
.display-pic img {
    border-radius: 100%;
    width: 70%;
}

a {
    text-decoration: none;
    color:#252525
}

.about {
    display: grid;
    height: auto;
    width: 90%;
    max-width: 800px;
    gap: 10px;
    margin: auto;
    text-align: center;
    grid-template-areas:
        'dp'
        'hello'
        'tagline'
        'intro'
        'social';
}

@media only screen and (min-width: 600px) {

    .about {
        grid-template-areas:
            'dp hello hello hello hello'
            'dp tagline tagline tagline tagline'
            'dp intro intro intro intro'
            'dp intro intro intro intro'
            'dp social social social social';
        text-align: left;
    }

    .about .display-pic {
        min-width: 15em;
    }

    .about .social-text {
        display: inline;
    }
    
}

.about .display-pic {
    grid-area: dp;
    margin: auto;
    text-align: center;
}

.about .hello {
    font-size: 3em;
    font-weight: 800;
    grid-area: hello;
}

.about .tagline {
    grid-area: tagline;
    font-size: 1.5em;
}

.about .intro {
    font-size: medium;
    grid-area: intro;
}

.about .social {
    grid-area: social;
    display: inline;
    vertical-align: middle;
}

.about .social-text {
    display: none;
}

.about .social li {
    background-color: #e2e4e5;
    vertical-align: middle;
    border-radius: 0.3em;
    padding: 0.6em;
    padding-top: 0.8em;
    margin-right: 0.4em;
    display: inline;
}

.about .social i {
    font-size: x-large;
    padding-top: 0.6em;
}